.card-title {
    color: var(--white);
    font-weight: 700;
}
.card-username {
    color: var(--white);
    font-weight: 500;
}
.card {
    width: 25%;
    height: 100px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}