.detail {
    position: absolute;
    height: calc(100vh - 50px);
    width: 100vw;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-detail {
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    background-color: rgba(255, 255, 255, .5);
}

.card-property {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.detail-title {
    margin-bottom: 20px;
}

.detail-button {
    color: var(--black);
    background-color: rgba(255, 255, 255, .6);
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
}

.detail-button:hover {
    background-color: rgba(0, 0, 0, .5);
    color: var(--white);
}

.detail-value {
    color: var(--black);
    line-height: 50px;
}

.detail-label {
    color: var(--black);
}

.detail-error-button {
    text-align: center;
    line-height: 40px;
}
.detail-icons {
    position: relative;
    float: right;
    display: flex;
    flex-direction: row;
    width: auto;
}
.detail-icon {
    position: relative;
    height: 30px;
    margin: 0 0 0 20px;
}
.detail-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.detail-label {
    margin-bottom: 10px;
}