.error-message {
    color: #d12;
}

.form-component {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 50px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 20px;
}

.form-element {
    height: 40px;
    margin-bottom: 30px;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 13.3333px;
    line-height: 40px;
}

.button {
    height: 40px;
    width: 150px;
    margin: 0 20px;
}

.form-button {
    background-color: rgba(228, 228, 228, 0.6);
    color: var(--black);
    height: 40px;
    width: 150px;
    margin: 0 20px;
    border: none;
    border-radius: 5px;
}

.form-button:hover {
    background-color: rgba(0, 0, 0, .5);
    color: var(--white);
}

.input-field {
    padding: 0 10px;
    border: none;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 5px;
}

#gradient {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    transform: scale(1.1);
    filter: brightness(70%) blur(30px);
    overflow: hidden;
}