.container {
    max-width: 1200px;
    max-height: 90vh;

    margin: 0 auto 0 auto;
    background-color: #949494;
}

.card-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}

