.container {
    max-width: 1200px;
    max-height: 90vh;
    overflow-y: scroll;
    margin: 0 auto 0 auto;
    background-color: #1A2778;
}

.credential-wrapper{
    display: flex;
    background-color: grey;
    height: fit-content;
}

.credential {
    background-color: var(--black);
    height: 120px;
    width: 160px;
    margin: 4px;
}