:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark-gray: #1C1C1C;
    --light-gray: #333333;
    --blue-gray: #4C5878;
    --light-blue: #5692EB;
    --dark-blue: #1A2778;
}
* {
    font-family: Raleway;
    font-weight: 400;
    color: var(--black);
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
    color: var(--white);
}
h4 {
    font-size: 16px;
}

#title{
    margin: 0 auto 0 auto;
    width: 140px;
}

.light {
    font-weight: 200;
}
.bold {
    font-weight: 700;
}
