:root {
    --white: #FFFFFF;
    --beige: #f7f6eb;
    --black: #000000;
    --dark-gray: #1C1C1C;
    --light-gray: #333333;
    --blue-gray: #4C5878;
    --light-blue: #5692EB;
    --dark-blue: #1A2778;
}
* {
    font-family: Raleway;
    font-weight: 400;
    color: var(--white);
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
    color: var(--white);
}
h4 {
    font-size: 16px;
}
a{
    text-decoration: none;
}
input {
    color: white;
    font-weight: 500;
}

.light {
    font-weight: 200;
}
.bold {
    font-weight: 700;
}
.home-arrow {
    position: fixed;
    left: 30px;
    top: 80px;
}
